extends layout.pug
block content
    | #{sender} Invited you to join #{companyName} company, click the button bellow to accept the invitation
    a(href=`${inviteUserLink}` style={"box-shadow": "0 2.8px 2.2px rgba(0,0,0,0.034), 0 6.7px 5.3px rgba(0,0,0,0.048), 0 12.5px 10px rgba(0,0,0,0.06), 0 22.3px 17.9px rgba(0,0,0,0.072), 0 41.8px 33.4px rgba(0,0,0,0.086), 0 100px 80px rgba(0,0,0,0.12)","display":"block","width":"140px","border-radius":"5px","text-align":"center","background":"rgb(4, 123, 211)","margin":"10px auto","padding":"5px", "text-decoration":"none","color":"#FFFF"}) Accept invitation
    p(style={"text-align":"center"}) If you don,t wish to join the company, you can safely delete this email.